{% extends "base.html" %}
{% block content %}
<div class="col-lg-14">
   <div class="row">
      <h1 class="text-center login-title">Acerca de </h1>
      <div class="account-wall">
         <br/>
         <p><strong>Learn & Share</strong> es una aplicación dirigida a todos los públicos que tengan la necesidad de aprender y de compartir conocimiento con otros usuarios.</p><br/>

         <p><strong>Learn & Share</strong> fue creada en 2013 por tres estudiantes de la <strong>Universidad de la Laguna</strong> como proyecto final de la asignatura <strong>Sistemas y Tecnologías Web.</strong></p><br/>
      </div>
   </div>
</div>
	
{% endblock %}
