{% extends "base.html" %}
{% block content %}
<div class="col-lg-14">
   <div class="row">
      <h1 class="text-center login-title">Ayuda </h1>
      <div class="account-wall">
         <br/>
         <h2  class="text-info">Introducción</h2>
         <p>Si has abierto una cuenta en Learn & Share y te estás preguntando cómo empezar o por qué estás aquí, esta página es para ti. Esta guía está diseñada para ayudarte a entrar a la gran fuente de información que es Learn & Share y a encontrar lo que más te interesa. Para empezar, te debes estar preguntando...</p><br/>

         <h2  class="text-info">¿Qué es Learn & Share?</h2>
         <p>Learn & Share es una página donde encontrarás todos los cursos que necesites y además podrás seguir a tus amigos. Es una forma nueva y fácil de aprender y compartir conocimientos con el resto de personas.</p><br/>

         <h2  class="text-info">¿Cuál es su utilidad?</h2>
         <p>Learn & Share contiene cursos e información que encontrarás valiosa. Los cursos a los que te matricules aparecerán en tu página de inicio. Además, podrás crear cursos y corregir a los usuarios matriculados si eres experto en ese ámbito. De esta manera, aprender resulta más fácil ya que accedes a los cursos cuando deseas sin restricciones. También, podrás seguir a otros usuarios con los que te podrás relacionar tanto por el chat como por los foros.</p><br/>

         <h2  class="text-info">1. ¿Cómo empezar a usar Learn & Share?</h2>
         <p>Lo primero de todo es registrarse en la página de inicio para poder acceder a todos los contenidos ofrecidos por Learn & Share</p><br/>

         <h2  class="text-info">2. Encuentra los cursos y matriculate en ellos</h2>
         <p>Por una parte, en la sección "Cursos" podrás encontrar todos los cursos disponibles y accediendo a cualquiera de ellos se puede matricular además de leer la descripción del mismo. Por otra parte, en la sección "Mis Cursos" se encuentran todos los cursos a los que estás matriculado.</p><br/>

         <h2  class="text-info">3. Encuentra a tus amigos y siguelos</h2>
         <p>Podrás seguir a cualquier usuario para ver que cursos está cursando.</p><br/>

         <h2  class="text-info">4. Consigue puntos L&S</h2>
         <p>Los puntos L&S se conseguirán a medida que vayas corrigiendo tareas de los cursos.</p><br/>

         <h2  class="text-info">5. Crea tu propio curso</h2>
         <p>Con los puntos L&S podrás crear tus propios cursos.</p><br/>

         <h2  class="text-info">6. Comparte conocimientos mediante el chat y el foro</h2>
         <p>Al disponer de un chat y un foro se puede compartir conocimientos, preguntar dudas acerca de cursos o tareas, explicar y debatir sobre algún tema relacionado con los cursos impartidos.</p><br/>
      </div>
   </div>
</div>
	
{% endblock %}
