<!DOCTYPE html>
<html lang="en">
  <head>
    
    <title> Learn & Share | {{title}} </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">        
    <link href="/static/css/bootstrap.css", rel="stylesheet", type="text/css">
    <link href="/static/css/bootstrap.min.css", rel="stylesheet", type="text/css">
    <link href="/static/css/estilo_propio.css", rel="stylesheet", type="text/css">       
    <!---
    <script type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>  
    <script type="text/javascript">
     
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23019901-1']);
      _gaq.push(['_setDomainName', "bootswatch.com"]);
        _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <script src="bsa.js"></script>  
    <script src="bootstrap.js"></script>  
    <script src="bootstrap.min.js"></script> -->
  </head>
  <body>
    
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="page-header">
              <center><h1 id="titulo">Learn & Share</h1></center>
          </div>
          <div class="bs-example">
            <div class="navbar navbar-default">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Learn & Share</a>
              </div>
              <div class="navbar-collapse collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                  {% if user.is_authenticated %}
                  <li {% if title == "Home" %} class="active" {% endif%}><a href="/home">Home</a></li>
                  {% if user.is_staff %} <li {% if title == "miscursos" %} class="active" {% endif%}><a href="/mycourses">Mis Cursos</a></li> {% endif %}
                  <li {% if title == "Registro" %} class="active" {% endif%}><a href="/mytasks">Mis tareas</a></li>
    						  <li {% if title == "Registro" %} class="active" {% endif%}><a href="/myreviews">Mis Correcciones</a></li>
                  <li {% if title == "Ayuda" %} class="active" {% endif%}><a href="/reviews">Ayuda a otros</a></li>
                  <li {% if title == "Cursos" %} class="active" {% endif%}><a href="/curso/list">Cursos</a></li>
                  <li {% if title == "Registro" %} class="active" {% endif%}><a href="#">Foro</a></li>
                  <li {% if title == "Registro" %} class="active" {% endif%}><a href="#">Mensajes</a></li>
                  {% endif%}
                  {% if not user.is_authenticated %}
                  <li class="divider-vertical"></li>
                  <li {% if title == "Registro" %} class="active" {% endif%}> <a href="/registro"><i class="icon-upload"></i> Sign up</a></li>
                  <li class="divider-vertical"></li>
                  <li {% if title == "Login" %} class="active" {% endif%}> <a href="/login"><i class="icon-ok-circle"></i> Sign in</a></li>
                  {% endif%}

                  {% if user.is_authenticated %}
                  <li><a href="/logout">Salir</a></li>
                  {% endif%}
                </ul>
              </div><!-- /.nav-collapse -->
            </div><!-- /.navbar -->
            <div class="jumbotron">
              <div class="row" {% if not title == "Informacion personal" %} align="center" {% endif%}><!-- align="center" -->
                {% block content %}{% endblock %}                              
              </div>
            </div>
        </div>
      </div>            
                    
      <footer>
        <div class="row">
          <div class="col-lg-12">
            <ul class="list-unstyled">
              <li class="pull-right"><a href="#top">Learn & Share</a></li>
              <li><a href="/ayuda">Ayuda</a></li>
              <li><a href="/contacto">Contacto</a></li>
              <li><a href="#">Acerca de</a></li>
            </ul>
          </div>
        </div>
              
      </footer>
    </div>
  </body>

