{% extends "base.html" %}
{% block content %}
<div class="container col-lg-24">
   <div class="col-lg-11">
      <div class="row" >
         <div class="col-xs-12 col-sm-8 col-md-6 well well-sm">
            <form action="#" method="post" class="form-horizontal" role="form">{% csrf_token %}
               <fieldset>
                  <legend><a href="http://www.jquery2dotnet.com"><i class="glyphicon glyphicon-globe"></i></a> Editar Lección</legend>
                  <div align="left" class="form-group">
                     <div class="col-lg-12">
                        <label>Título: </label><input placeholder='Titulo del Curso' class="form-control" id="id_title" maxlength="30" name="title" type="text" value= "{{ leccion.titulo }}" />
                     </div>
                  </div>
                  <div align="left" class="form-group">
                     <div class="col-lg-12">
                        <label>Descripción: </label><textarea placeholder='Descripción' class="form-control" id="id_decripcion" maxlength="450" name="description" type="text" />{{ leccion.descripcion }}</textarea>
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="col-lg-1">
                        <button class="btn btn-default btn-info" type="submit">Guardar Cambios</button>
                        <a href="/curso/edit/{{leccion.id}}"><input class="btn btn-mini btn-primary btn-danger" type="button" name="buttoncancelar" value="Cancelar"/></a>
                     </div>
                  </div>
               </fieldset>
            </form>
         </div>
      </div>
   </div>
</div>
{% endblock %}
