{% extends "base.html" %}
{% block content %}
<h2 class="text-info">Nueva Lección</h2><br/>
<div class="jumbotron">
   <div class="row">
      <form action="#" method="post" class="form-horizontal" role="form">{% csrf_token %}
         <div align="left">
         	<label>titulo </label>
			<input id="id_title" maxlength="30" name="title" type="text" value= "{{ leccion.titulo }}" />
			<label>descripcion </label>
			<textarea id="id_decripcion" maxlength="150" name="description" type="text" />{{ leccion.descripcion }}</textarea>
			
		 </div>
         <div class="col-xs-6 col-sm-4 col-md-4">
            <br/>
            <button class="btn btn-lg btn-success btn-block" type="submit">guardar</button>
         </div>
      </form>
   </div>
</div>
	
	
{% endblock %}
