<footer>
                        <div class="row">
                         <div class="col-lg-12">
                                
                                <ul class="list-unstyled">
                                 <li class="pull-right"><a href="#top">Learn & Shera</a></li>
                                 <li><a href="#">Ayuda</a></li>
                                 <li><a href="#">Contacto</a></li>
                                 <li><a href="#">Acerca de</a></li>
                                </ul>
                         </div>
                        </div>
                        
                </footer>
