{% extends "base.html" %}
{% block content %}    
<div class="jumbotron">
    <div class="row">
        <div class="col-lg-8">
         <h2 class="text-info">Cursos que sigo</h2>
         <p>¡Anímate y aprende!</p>
        {% for curso in cursos %}
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p>Titulo: {{curso.titulo}}</p>
                        <p>Lenguaje: {{curso.lenguaje}}</p>
                        <a href="/curso/view/{{ curso.id }}/"><input class="btn btn-primary btn-sm btn-success" type="button" name="buttoncontinuar" value="Continuar"/></a>
                    </div>
                </div>
            </div>
        {% endfor %}
           
        </div>
        <div class="col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Usuario</h3>
                </div>
                <div class="panel-body">
                    <div class="container-fluid well span6">
                        <div class="row-fluid">
                            <div class="span2" >
                                <img src="https://secure.gravatar.com/avatar/de9b11d0f9c0569ba917393ed5e5b3ab?s=140&r=g&d=mm" class="img-circle">
                            </div>

                            <div class="span8">
                                <h3>{{ User.username }}</h3>
                                <h6>E-mail: {{ User.email }} </h6>
                                <h6>Puntos L&S: {{ User.puntuacion }}</h6>
                            </div>

                            <div class="span2">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary btn-sm btn-info"><span class="btn-label"></span>Editar Perfil</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Sugerencias</h3>
                </div>
                <div class="panel-body">
                {% for usu in Users %}
                    <h4>{{usu.alias}}
                    <a href="/seguir/{{ usu.user.id }}/"><input class="btn btn-primary btn-xs btn-success" type="button" name="buttonseguir" value="Seguir"/></a>
                    </h4>
                {% endfor%}
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Amigos</h3>
                </div>
                <div class="panel-body">
                {% for user in seguidores %}
                    <h4><a href="#">{{user.alias}}</a>
                    <a href="/unfollow/{{ user.user.id }}/"><input class="btn btn-primary btn-xs btn-danger" type="button" name="buttonseguir" value="Dejar"/></a>
                    </h4>
                {% endfor%}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


                        
               
