{% extends "base.html" %}
{% block content %}    
<div class="jumbotron">
    <div class="row">
        
        <div class="col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Usuario</h3>
                </div>
                <div class="panel-body">
                    <div class="container-fluid well span6">
                        <div class="row-fluid">
                            <div class="span2" >
                                {% load gravatar %}
                                <img src="{% gravatar_url user.email 150 %}" class="img-circle imagen_perfil">
                            </div>

                            <div class="span8">
                                <h3>{{ user.username }}</h3>
                                <h6>E-mail: {{ user.email }} </h6>
                                <h6>Puntos L&S: {{ user.puntuacion }}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Amigos</h3>
                </div>
                <div class="panel-body">
                {% for users in follower %}
                    <a href="/perfil/{{ users.user.id }}/"><img src="{% gravatar_url users.user.email %}" class="img-circle imagen_sm"> {{users.alias}}</a>
                    </br>
                {% endfor%}
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <h2 class="text-info">Cursos que sigue {{ user.username }} </h2>
            {% for curso in cursos %}
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <p>Titulo: {{curso.titulo}}</p>
                            <p>Lenguaje: {{curso.lenguaje}}</p>
                            <a href="/curso/{{ curso.id }}/"><input class="btn btn-primary btn-sm btn-info" type="button" name="buttonseguir" value="+Info"/></a>
                            {% if curso in cursos_login %}
                                <a href="/curso/view/{{ curso.id }}/"><input class="btn btn-primary btn-sm btn-success" type="button" name="buttoncontinuar" value="Continuar"/></a>
                            {% else %}
                                <a href="/curso/inscribe/{{ curso.id }}/"><input class="btn btn-primary btn-sm btn-success" type="button" name="buttonseguir" value="Inscripcion"/></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
           
        </div>
    </div>
</div>
{% endblock %}


                        
               
