{% extends "base.html" %}
{% block content %}
<div class="row">
        <div class="col-lg-6">
                <div class="well" align="center">
                                <form action="#" method="post" role="form" class="bs-example form-horizontal">{% csrf_token %}
                                    <fieldset >
                                        <legend align="center"><a href="http://www.jquery2dotnet.com"><i class="glyphicon glyphicon-user"></i></a>  Modificar Perfil de Usuario</legend>
                                        <div class="form-group">
                                                <label for="id_username" class="col-lg-4 control-label">Nombre: </label>
                                                <div class="col-lg-6">
                                                        <input type="text" maxlength="30" name="username" class="form-control" id="id_username" value= "{{ User.username }}">
                                                </div>
                                        </div>
                                        <div class="form-group">
                                                <label for="id_alias" class="col-lg-4 control-label">Alias: </label>
                                                <div class="col-lg-6">
                                                        <input type="text" maxlength="30" name="alias" class="form-control" id="id_alias" value= "{{ Alias }}">
                                                </div>
                                        </div>
                                        <div class="form-group">
                                                <label for="id_email" class="col-lg-4 control-label">E-mail: </label>
                                                <div class="col-lg-6">
                                                        <input type="text" maxlength="30" name="email" class="form-control" id="id_email" value= "{{ User.email }}">
                                                </div>
                                        </div>
                                        <h5>"{{ MERROR}}" </h5>
                                        <div class="form-group">
                                                <label for="id_password" class="col-lg-4 control-label">Contraseña: </label>
                                                <div class="col-lg-6">
                                                        <input maxlength="30" name="password" type="password" class="form-control" id="id_password">
                                                </div>
                                        </div>
                                        <div class="form-group">
                                                <label for="id_rpassword" class="col-lg-4 control-label">Confirmar: </label>
                                                <div class="col-lg-6">
                                                        <input maxlength="30" name="rpassword" type="password" class="form-control" id="id_rpassword">
                                                </div>
                                                
                                        </div>
                                        
                                        <div class="form-group" >
                                                <div class="col-lg-1">
                                                        <button href="http://www.jquery2dotnet.com" class="btn btn-default btn-info" type="submit"><i class="glyphicon glyphicon-ok"></i> Guardar Cambios</button>
                                                </div>
                                        </div>
                                </form>
                                <h5>Recuerde, puede borrar su cuenta haciendo uso del siguiente boton:</h5>
                                <a src="http://www.jquery2dotnet.com" href="/deluser/" class="btn btn-danger btn-primary btn-large" value="Empieza a usar Gravatar"><i class="glyphicon glyphicon-trash"></i> Borrar cuenta</a>
                        
                </div>


        </div>
        <div class="col-lg-6">
                <div class="well" align="center">
                        <legend align="center"><a href="http://www.jquery2dotnet.com"><i class="glyphicon glyphicon-picture"></i></a>  Modificar Foto de Perfil</legend>
                        <img src="http://i1296.photobucket.com/albums/ag1/adrihg89/Captura_zps07f83a9b.jpg" class="img-circle"></img>
                        <h5>Cambia tu foto de perfil usando Gravatar.</h5>
                        <h5>Es sencillo: entra, registrate y sube una foto a Gravatar.</h5>
                        <a target="_blank" src="http://www.jquery2dotnet.com" href="http://www.gravatar.com" class="btn btn-info btn-primary btn-large" value="Empieza a usar Gravatar"><i class="glyphicon glyphicon-circle-arrow-up"></i> Empieza a usar Gravatar</a>

                        
                </div>
                

        </div>
</div>
{% endblock %}