{% extends "base.html" %}
{% block content %}
<h2 class="text-info">Revisiones</h2>
<div class="jumbotron">
	<div class="row">
		{% for revision in revisiones %}
			<div class="col-lg-4">
				<div class="panel panel-default">
					<div class="panel-body">
							<p>Titulo: {{revision.tarea.leccion.titulo}}</p>
														<p>Nota: {{revision.nota}}</p>
							<a href="/myreviews/{{ revision.id }}/"><input class="btn btn-primary btn-sm btn-success" type="button" name="buttonseguir" value="corregir"/></a>
							
						</div>
					</div>
				</div>
							
		{% endfor %}
	</div>
</div>

{% endblock %}
